html {
  font-size: 62.5%;
}
.card_wrap {
  width: 100%;    
  padding: 5rem;
  overflow-y: scroll;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
  .card-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;    
    gap: 2%;
    .card {      
      position: relative;
      width: 32%;
      height: 40rem;    
      margin-bottom: 2%;
      padding: 0.5rem;
      background: #fff url(../images/new.gif) center / cover no-repeat;      
      border-radius: 1rem;
      transform: scaleX(1);
      opacity: 0;
      transition: 150ms filter 1.25s;
      box-sizing: border-box;
      animation: vibration .1s infinite;      
      filter: blur(.25rem);
      @keyframes vibration {
        from {
          transform: rotate(-1deg);
        }
        to {
          transform: rotate(1deg);
        }
      }      
      &.show {
        transform: scaleX(-1);
        opacity: 1;        
        filter: blur(0);
      }      
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;            
        opacity: .2;
      }
      &:nth-child(2n)::after {           
        background: green;      
      }
      &:nth-child(3n):after {        
        background: yellow;        
      }             
      &:nth-child(5n):after {        
        background: red;        
      }
    }
  }
}
